
<div class='well well-small span4'>
    <p class ='lead '>
        <%=comment.body%>
    </p>
   <em>   
   <%= comment.user.display_name%> posted this comment <%= time_ago_in_words(comment.created_at, include_seconds = false) %> ago
    </em>
</div>