
<%= form_for @users, :html => {multipart: true} do |f| %>
 
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>



  <div>
    <%=f.submit "Update Location", class: 'btn btn-primary' %>
  </div>

<% end %>

