<div class = "media">
   <%= image_tag @product.image.url(:medium), :class => "img-polaroid media-object pull-left"%>  
  <div class = "media-body"> 
    <h4 class = "media-heading"> <%= @product.name%> </h4>
      <%= @product.description %>
      $<%= @product.price %>
  </div>

 
</div>